/*!
* The CentOS Browser Default Page
* Copyright 2021 Alain Reguera Delgado
* Licensed under CC BY-SA 4.0 (https://creativecommons.org/licenses/by-sa/4.0/)
*/
{% 
  set fonts = [
    { "family": "Font Awesome 5 Brands", "style": "normal", "weight": "400", "file": "fa-brands-400"},
    { "family": "Font Awesome 5 Free", "style": "normal", "weight": "900", "file": "fa-solid-900"},
    { "family": "Montserrat", "style": "normal", "weight": "300", "file": "Montserrat-Light"},
    { "family": "Montserrat", "style": "normal", "weight": "400", "file": "Montserrat-Regular"},
    { "family": "Montserrat", "style": "normal", "weight": "700", "file": "Montserrat-Bold"},
    { "family": "overpass-mono", "style": "normal", "weight": "400", "file": "OverpassMono-Regular"},
  ]
%}
{% for font in fonts %}
@font-face {
    font-family: "{{ font.family }}";
    font-weight: {{ font.weight }};
    font-style: {{ font.style }};
    src: url(data:application/x-font-woff2;charset=utf-8;base64,{%- include 'HTML/common/fonts/' + font.file + '.woff2.base64' -%}) format("woff2");
}
{% endfor %}

.header, .footer {
    margin-top: 0;
    background: #0c132f url("../img/motif.png") no-repeat top right;
    background-size: cover;
}