<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Welcome to CentOS Stream 9</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="shortcut icon" href="../common/img/favicon.png" />
    <link rel="stylesheet" media="all" href="../common/css/centos.bootstrap.min.css" />
    <link rel="stylesheet" media="all" href="../common/css/centos-indexhtml.min.css" />
  </head>

  <body>
    <header class="header header__page">
      <div class="container mb-5"><a href="https://www.centos.org/"><img src="../common/img/logo.png" alt="CentOS Project"/></a></div>
      <h1 class="header__page__title">Welcome to CentOS Stream 9</h1>
      <p class="header__page__description">CentOS Stream is a continuous-delivery distribution serving as the next point-release of RHEL.</p>
    </header>

    <div class="hr">
      <div class="hr__centos-color-0"></div>
      <div class="hr__centos-color-1"></div>
      <div class="hr__centos-color-2"></div>
      <div class="hr__centos-color-3"></div>
    </div>

    <main class="page">
      <article class="page__content">

      <h2>CentOS Stream is Continuous</h2>

      <p>Before a package is formally introduced to CentOS Stream, it undergoes
      a battery of tests and checks&mdash;both automated and manual&mdash;to ensure it
      meets the stringent standards for packages to be included in RHEL. Updates
      posted to Stream are identical to those posted to the unreleased minor
      version of RHEL. The aim? For CentOS Stream to be as fundamentally stable
      as RHEL itself.</p>
      
      <p>To achieve this stability, each major release of Stream starts from a
      stable release of Fedora&mdash;In CentOS Stream 9, this begins with Fedora 34,
      which is the same code base from which RHEL 9 is built. As updated
      packages pass testing and meet standards for stability, they are pushed
      into CentOS Stream as well as the nightly build of RHEL. What you see in
      CentOS Stream now is what RHEL will look like in the future.</p>

      <figure class="figure">
      <img class="figure-img img-fluid" src="../common/img/centos_rhel_timeline.png" alt="How Fedora becomes CentOS; how CentOS becomes RHEL" />
      <figcaption class="figure-caption">OS Versions as they move from Fedora to CentOS Stream to Red Hat Enterprise Linux.</figcaption>
      </figure>

      <p>CentOS Stream is made for you to make it what you want it to be.</p>

      <h2>CentOS Stream is Community</h2>

      <p>Although many CentOS Stream contributions derive from Red Hat
      employees, CentOS Stream thrives on community support. CentOS Stream is a
      stable, reliable platform for open source communities to expand upon,
      allowing people from all areas and backgrounds to collaborate in an open
      environment.</p>

      <p>As CentOS Stream ultimately becomes RHEL, contributors also have an
      opportunity for their work to influence future builds of RHEL; this makes
      CentOS Stream an ideal environment for creativity and
      forward-thinking.</p>
      
      <h2>CentOS Stream Moves Forward</h2>

      <p>CentOS Stream offers a unique blend of progress and stability&mdash;rather
      than delivering most updates in a large minor release batch, CentOS Stream
      receives stable updates as soon as they are available. This, in turn,
      provides an ideal distribution where stability is king and doesn&#39;t
      come at the cost of time.</p>

      <h2>Getting CentOS Stream</h2>

      <p>CentOS Stream can be downloaded as <a
      href="https://www.centos.org/centos-stream/">an ISO</a> from our mirrors
      and is compatible with x86-64, ARM64 (aarch64), s390x, and IBM Power
      (ppc64le) architectures.</p>
      
      <h2>Contribute to CentOS Stream</h2>

      <p>Community is at the heart of The CentOS Project, and there are many
      ways you can contribute. A list of areas where you can contribute is
      available on the <a href="https://wiki.centos.org/Contribute">CentOS
      Wiki</a>.</p>
      
      <p>Because CentOS Stream is upstream of RHEL, it offers an ideal
      environment for testing applications which are designed be deployed in
      RHEL. We welcome and encourage contributors from all
      backgrounds&mdash;especially those developing for the post-RHEL production
      stream&mdash;to use CentOS Stream to build, test, and deploy the applications
      that are special to you and to the greater Linux community.</p>
      
      <p>You can also contribute by joining (or creating) a Special Interest
      Group (SIG) in an area of your interest. Visit the <a
      href="https://wiki.centos.org/SpecialInterestGroup/">CentOS Wiki</a> to
      learn more.</p>
      
      <h2>Learn More</h2>

      <p>To learn more about CentOS Stream 9, visit the <a
      href="https://www.centos.org/stream9">CentOS Website</a>.</p>
      
      </article>

    </main>

  <div class="hr">
    <div class="hr__centos-color-0"></div>
    <div class="hr__centos-color-1"></div>
    <div class="hr__centos-color-2"></div>
    <div class="hr__centos-color-3"></div>
  </div>

<footer class="footer">
    <div class="container">
      <div class="row">
{%- for column in centos.footer.columns %}
{%- for section in centos.navbar %}
{%- if section.name == column %}
        <section class="links">
          <h6><i class="{{ section.icon }}"></i> {{ section.name }}</h6>
          <ul>
  {% for item in section.menu %}
            <li><a href="{{ item.link }}">{{ item.name }}</a></li>
  {% endfor %}
          </ul>
        </section>
  {%- endif %}
  {%- endfor %}
  {%- endfor %}
        <section class="project">
          <h2>{{ centos.project.title }}</h2>
          <p class="lead">{{ centos.project.description }}</p>
          <div class="lead social">
            {% for item in centos.footer.social %}
            <a href="{{ item.link }}"><i class="{{ item.icon }}"></i></a>
            {% endfor %}
          </div>
        </section>
      </div>
      <div class="row">
        <section class="copyright">
          <p>Copyright &copy; {{ year }} {{ centos.footer.copyright.author }} {% for item in centos.footer.copyright.legals %} | <a href="{{ item.link }}">{{ item.text }}</a>{% endfor %}</p>
        </section>
      </div>
    </div>
</footer>

</body>
</html>
